:root {
  --color-dark: black;
  --color-bright: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1 {
  font-size: 5em;
}

p {
  margin: 0;
}
.overallContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.memeContainer {
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
  outline: 0.1rem solid var(--color-dark);
  outline-offset: 0.2rem;
  /* border: 1px solid red; */
}

form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-sizing: content-box;
}

.inputtext {
  display: block;
  color: var(--color-bright);
  border: none;
  width: 99%;
  height: 50px;
  background-color: transparent;
  text-shadow: -2px -1px 2px #000, 2px -1px 2px #000, -2px 1px 2px #000,
    2px 1px 2px #000;
  z-index: 1;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 45px;
  white-space: wrap;
  overflow: visible;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}

#input1 {
  position: absolute;
  bottom: 328px;
}

#input2 {
  position: absolute;
  bottom: 30px;
}

#submit:hover {
  opacity: 0.7;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

button {
  min-width: 100px;
  background-color: var(--color-dark);
  color: var(--color-bright);
  padding: 4%;
  margin: 5%;
  border-radius: 5px;
}

.pickFile {
  margin: 20px;
  width: 100%;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: var(--color-dark);
}
