.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1 {
  font-size: 6em;
}

p {
  margin: 0;
}
.overallContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.memeContainer {
  width: 500px;
  height: 100%;
  margin: 3%;
  display: block;
  /* border: 1px solid red; */
}

form {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: contain;
  outline: 0.1rem solid black;
  outline-offset: 0.2rem;
  box-sizing: content-box;
}

.inputtext {
  display: block;
  color: white;
  border: none;
  width: 490px;
  height: 50px;
  background-color: transparent;
  text-shadow: -2px -1px 2px #000, 2px -1px 2px #000, -2px 1px 2px #000,
    2px 1px 2px #000;
  z-index: 1;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 45px;
  white-space: wrap;
  overflow: visible;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}

#input1 {
  position: relative;
  top: -350px;
}

#input2 {
  position: relative;
  top: -300px;
}

#submit {
  position: relative;
  top: -100px;
}

#submit:hover {
  opacity: 0.7;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

button {
  min-width: 100px;
  background-color: black;
  color: white;
  padding: 4%;
  margin: 5%;
  border-radius: 5px;
}

.pickFile {
  margin: 20px;
}
